
renpyprojects/gettingstarted2/.DS_Store
renpyprojects/.DS_Store
renpyprojects/gettingstarted2/game/.DS_Store
renpyprojects/renpytut1/game/saves/persistent
renpyprojects/renpytut1/log.txt
vnsprites/.DS_Store
vnsprites/avatare/.DS_Store
vnsprites/.DS_Store
vnsprites/.DS_Store
vnsprites/backgrounds/.DS_Store
images/.DS_Store
images/backgrounds/.DS_Store
images/framiq/blonde1/.DS_Store
.DS_Store
